# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual env
venv/
.env
.env.*

# Test / Build / Cache
.pytest_cache/
.mypy_cache/
.cache/
*.log

# IDEs
.vscode/
.idea/

# Packaging
build/
dist/
*.egg-info/

# Others
.DS_Store
